{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="home-holder text-center">
                <h1>Welcome to The ThinkTrack</h1>
                <p>Unleash the power of organized thoughts and efficient note-taking with The ThinkTrack. 
                    Whether you're a student, professional, or creative mind, our platform is designed to help you capture, 
                    organize, and access your ideas seamlessly.</p>
                <p>Ready to enhance your note-taking journey?</p>
                <p>Join The ThinkTrack today:</p>
                <a href="{% url 'notes.list' %}" class="btn btn-success btn-sm">My ThinkTrack</a>
            </div>
        </div>
    </div>

{% endblock %}

