{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Create a Note</div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-sm btn-success">Create</button>
                        <a href="{% url 'notes.list' %}" class="btn btn-primary btn-sm mx-2">Back</a>
                    </div>
                </form>

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger mt-3">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
